.nav-link.active{
    color: #1a1919;
    border-right: 5px solid #ffffff;
    background: #ebe4e4 !important;
  }
  .nav-link.active > p{
    color: #3b3939;
  }

  .nav-link.active > i{
    color: #3b3939;
  }

  .icon-nav {
    color: #636060 !important;
  }

  .icon-nav:hover {
    color: rgb(51, 49, 49) !important;
  }

  .nav-link:hover {
    background-color: #F0EEEE;
  }

  .main-header > .navbar-nav > .nav-item > .nav-link:hover {
    background-color: transparent;
    color: rgb(5, 5, 5);
  }

  .nav-link > p {
    color:#fffdfd;
  }

  .nav-link > i {
    color:#ffffff;
  }

  .acti

  .multiselect__tag {
    background: #001f3f !important;
  }
  .multiselect__option--highlight {
    background: #001f3f !important;
  }

  .menu_inicio:hover {
    background: #000;
  }